body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}


h1,h2,h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
    color: #8f8f8f;
    font-weight: 550;
}

/* HEADINGS */

.big-heading{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* TITLE SECTION  */

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/* NAVIGATION BAR  */

.navbar {
  padding: 0 0 4.5rem ;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat Light", sans-serif;
    font-size: 1.2rem;
}

/* DOWNLOAD BUTTONS */

.download-button {
  margin: 5% 3% 5% 0;
}

/* TITLE IMAGE  */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

/* FEATURES SECTION */

#features {
  padding: 7% ;
  background-color: white;
  position: relative;
}


.feature-text{
    font-size: 1.5rem;
}

.fas {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #ef8172;
}

.fas:hover {
  color: #ff4c68;
}

/* TESTIMONIALS SECTION  */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}


.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 20%;
}

/* PRESS SECTION  */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 12%;
  margin: 20px 40px 40px 40px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.price-plan{
    font-size: 1.5rem;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 10% 15%;
  color: white;
}

.cta-head {
  margin-bottom: 2rem;
}

#footer {
  text-align: center;
  padding: 5% 10%;
}

.footer-link {
  color: black;
  margin: 0 1%;
}

.copyright {
  margin-top: 2rem;
  font-size: 15px;
}
